.button {
  display: block;
  max-width: 200px;
  min-width: 180px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  cursor: pointer;
  transition: $transition-time $transition-function;

  &:hover,
  &:focus {
    color: rgba(#ffffff, 0.5);
    border-color: rgba(#ffffff, 0.5);

    outline: none;
  }


  span {
    position: relative;
  }
}

@media (max-width: $width-till-mobile) {
  .button {
    &hover {
      color: #ffffff;
      border-color: #ffffff;
    }
  }
}
