.button {
  display: block;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 30px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  cursor: pointer;
  transition: $transition-time $transition-function;

  &:hover,
  &:focus {
    color: rgba(#ffffff, 0.5);
    border-color: rgba(#ffffff, 0.5);

    outline: none;
  }


  span {
    position: relative;
  }
}
