.button {
  display: block;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  cursor: pointer;
  transition: $transition-time $transition-function;

  &:hover,
  &:focus {
    opacity: 0.5;

    outline: none;
  }


  span {
    position: relative;
  }
}

.button--second {
  padding-top: 18px;
  padding-bottom: 18px;

  font-size: 16px;
  line-height: 19px;

  background-color: $second-color;
  border: none;
}

@media (max-width: $width-till-mobile) {
  .button {
    &:hover {
      opacity: 1;
    }
  }
}
