.copyright {
  display: flex;
  flex-wrap: wrap;
  max-width: 1490px;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 54px;
  padding-right: 23px;
}

.copyright__item {
  margin-right: 10%;

  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  color: rgba($main-color, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.copyright__item-protection {
  margin-right: 5.3%;
}

.copyright__item-presence {
  margin-right: 10%;
}

.copyright__item-confidentiality {
  margin-right: auto;

  cursor: pointer;
  transition: $transition-time $transition-function;

  &:hover,
  &:focus {
    opacity: 0.5;

    outline: none;
  }
}

.copyright__item-developer a {
  color: rgba($main-color, 0.5);
  text-decoration: none;

  cursor: pointer;
  transition: $transition-time $transition-function;

  &:hover,
  &:focus {
    opacity: 0.5;

    outline: none;
  }
}

.copyright__item-developer {
  margin-right: 0;
}

@media (max-width: $width-till-tablet) {
  .copyright {
    padding-top: 21px;
    padding-bottom: 25px;
    padding-left: 28px;
    padding-right: 25px;
  }

  .copyright__item-protection {
    display: none;
  }

  .copyright__item-presence {
    display: none;
  }
}

@media (max-width: $width-till-mobile) {
  .copyright {
    flex-direction: column;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .copyright__item {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .copyright__item-developer a {
    &:hover {
      opacity: 1;
    }
  }

  .copyright__item-confidentiality {
    &:hover {
      opacity: 1;
    }
  }
}
