.copyright {
  display: flex;
}

.copyright__item {
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  color: rgba($main-color, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.copyright__item-protection {
  margin-right: 5.3%;
}

.copyright__item-presence {
  margin-right: 10%;
}

.copyright__item-confidentiality {
  margin-right: auto;
}

.copyright__item-developer a {
  color: rgba($main-color, 0.5);
  text-decoration: none;
}


