.footer-contacts {
  width: 333px;
}

.footer-contacts__title {
  margin-bottom: 25px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: #1b2d37;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.footer-contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.footer-contacts__address {
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  color: rgba($main-color, 0.5);
}

.footer-contacts__phone {
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: rgba($main-color, 0.5);

  cursor: pointer;
  transition: $transition-time $transition-function;

  &:hover,
  &:focus {
    opacity: 0.5;

    outline: none;
  }
}
