.footer-contacts {
  width: 333px;
}

.footer-contacts__title {
  margin-top: 0;
  margin-bottom: 25px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: #1b2d37;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:focus {
    outline: none;
  }
}

.footer-contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.footer-contacts__address {
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  color: rgba($main-color, 0.5);
}

.footer-contacts__phone {
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: rgba($main-color, 0.5);

  cursor: pointer;
  transition: $transition-time $transition-function;

  &:hover,
  &:focus {
    opacity: 0.5;

    outline: none;
  }
}

@media (max-width: $width-till-mobile) {
  .footer-contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 13px;

    border-top: 1px solid rgba(#626962, 0.2);
  }

  .footer-contacts__title {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    padding-top: 28px;
    padding-bottom: 27px;

    transition: $transition-time $transition-function;

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 0;

      width: 25px;
      height: 25px;

      background-image: url("../img/icon-subtract.svg");
      background-repeat: no-repeat;
      background-size: 16px auto;
      background-position: center;

      transition: $transition-time $transition-function;
    }

    &:focus {
      opacity: 0.5;

      outline: none;
    }
  }

  .footer-contacts__wrapper {
    width: 100%;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 26px;

    transition: $transition-time $transition-function;
  }

  .footer-contacts__phone {
    &:hover {
      opacity: 1;
    }
  }

  .footer-contacts--close .footer-contacts__wrapper {
    display: none;
  }

  .footer-contacts--close .footer-contacts__title {
    &::after {
      background-image: url("../img/icon-add.svg");
    }
  }
}
