.main-page__advantages-info-wrapper {
  background-color: $third-color;
  background-image: url("../img/advantages-background@1x.png");
  background-repeat: no-repeat;
  background-size: 2243px auto;
  background-position: center 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    // background-image: url("../img/advantages-background@2x.png");
  }
}
