.main-page__advantages-info-wrapper {
  padding-top: 112px;
  padding-bottom: 50px;

  background-color: $third-color;
  background-image: url("../img/advantages-background@1x.png");
  background-repeat: no-repeat;
  background-size: 2243px auto;
  background-position: 83% -30px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    // background-image: url("../img/advantages-background@2x.png");
  }
}

.main-page__advantages {
  margin-right: auto;
  margin-left: auto;
}

.main-page__info {
  margin-right: auto;
  margin-left: auto;
}

.main-page__services {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: $width-till-tablet) {
  .main-page__advantages-info-wrapper {
    padding-top: 54px;
    padding-bottom: 11px;

    background-image: url("../img/advantages-background-tablet@1x.png");
    background-size: 872px auto;
    background-position: 211px 90px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      // background-image: url("../img/advantages-background-tablet@2x.png");
    }
  }
}

@media (max-width: $width-till-mobile) {
  .main-page__advantages-info-wrapper {
    padding-top: 37px;
    padding-bottom: 10px;

    background-position: 21.7% 653px;
  }
}
