.site-wrapper {
  background-image: url("../img/main-background@1x.png");
  background-repeat: repeat;
  background-size: 1920px auto;
  background-position: 49% 0%;
}

@media (max-width: $width-till-tablet) {
  .site-wrapper {
    background-size: 1500px auto;
    background-position: 49.9% 90%;
  }
}

@media (max-width: $width-till-mobile) {
  .site-wrapper {
    background-size: 1450px auto;
    background-position: 55.5% 96%;
  }
}
