.site-wrapper {
  background-image: url("../img/main-background@1x.png"), linear-gradient(#1b2d37 1152px, transparent 1153px);
  background-repeat: repeat;
  background-size: 1920px auto;
  background-position: center 0%;
}
