.site-sections {
  min-width: 350px;
  width: 45.6%;
  margin-right: auto;
  padding-right: 27px;
}

.site-sections__title {
  margin-top: 0;
  margin-bottom: 24px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  color: #1b2d37;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.site-sections__nav {
  display: flex;
  max-width: 600px;
}

.site-sections__nav-main-block {
  display: flex;
  flex-direction: column;
  min-width: 243px;
  margin-right: auto;
}

.site-sections__nav-extra-block {
  display: flex;
  flex-direction: column;
}

.site-sections__nav-link {
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: rgba($main-color, 0.5);

  cursor: pointer;
  transition: $transition-time $transition-function;

  &:hover,
  &:focus {
    opacity: 0.5;

    outline: none;
  }
}

.site-sections__toggle {
  display: none;
}

@media (max-width: $width-till-tablet) {
  .site-sections__nav {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $width-till-mobile) {
  .site-sections {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    width: 100%;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .site-sections__nav {
    display: none;
  }

  .site-sections__title {
    margin-bottom: 0;
  }

  .site-sections__toggle {
    display: block;
  }
}
