@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin indent-tablet {
  padding-right: 25px;
  padding-left: 25px;
}

@mixin indent-mobile {
  padding-right: 17px;
  padding-left: 17px;
}

@mixin indent {
  padding-right: 25px;
  padding-left: 25px;
}
